
.nav-menu {
  background-color: #f8f9fa;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  color: #0f2950;
  padding: 0 10px;
}

.nav-link:hover {
  color: #efa00b;
}

.logo {
  width: 90px;
  height: auto;
  transform: scale(1.1);
}
